@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');
 
 .ml-5 {
    margin-left: 5px;
  }
  
  .mt-5 {
    margin-top: 5px;
  }
  
  .done {
    color: silver;
    text-decoration: line-through;
  }
  
  input[type='date'].disabled::-webkit-inner-spin-button {
    display: none;
  }
  
  .content {
    overflow: auto;
    height: 500px;
    max-height: 500px;
  }

.container {
    font-family: 'Chivo', sans-serif;
    button {
      font-family: 'Chivo', sans-serif;
    }
    .btn-floating {
        margin-left: 10px;
    }
    nav {
      h3 {
      font-weight: 900;
      padding-top: 5px;
      }
    }
    .nav-wrapper, .page-footer {
      background: #00796b;
      span {
        font-weight: 700;
      }
    }
}